language: groovy

jdk:
   - oraclejdk8

script:
  - ./gradlew check
  - sonar-scanner
after_success:
#  - bash <(curl -s https://codecov.io/bash)
  - ./gradlew jacocoTestReport coveralls
#  - ./gradlew codacyUpload

addons:
  sonarcloud:
    organization: "thomashan-github"
    branches:
      - master
